/* App.css */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 10em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #02020eaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #e8ececaa);
}


.container {
  padding: 0em;
}

.registro {
  margin-bottom: 2em;
}

label {
  margin-right: 1em;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: rgb(12, 3, 3);
  border: visibility;
  border-radius: 5px;
  cursor: pointer;  
}

button:hover {
  background-color: #0056b3;
}

.read-the-docs {
  color: #8d8888;
}

.container2 {
  display: grid;
  grid-template-columns: auto 1fr; /* Define dos columnas, una para etiquetas y otra para inputs */
  gap: 15px; /* Espacio entre las filas */
  align-items: center; /* Alinea verticalmente los elementos */
}

.container2 label {
  justify-self: start; /* Alinea las etiquetas a la derecha de la columna */
  font-size: 2em;
  font-weight: bold;
}
.inputCedula,
.inputNombre,
.inputMarca,
.inputValor,
.inputMes,
.inputFecha {
  font-size: 2em;
  font-weight: bold;
  width: 100%; /* Asegura que los inputs ocupen todo el espacio disponible en la columna */
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 0s linear; /* Ajusta el tiempo de animación según sea necesario */
  }
}